server:
  port: 8080

spring:
  application:
    name: backend-api

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
